@import "tailwindcss";
@import "@minus-ui/core/plugin";
@tailwind utilities;

@theme {
  --color-main: rgba(18, 184, 134, 1);
  --color-sub: #558efb;
  --color-light-gray: #f4f8fb;
  --color-basic-gray: #cbd5e0;
  --color-dark-gray: #94adbc;
  --font-gmarket: "gmarket";
}
@font-face {
  font-family: "pretendard";
  src: url("/font/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "gmarket";
  src: url("/font/GmarketSansTTFLight.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "gmarket";
  src: url("/font/GmarketSansTTFMedium.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "gmarket";
  src: url("/font/GmarketSansTTFBold.ttf");
  font-weight: 700;
  font-display: swap;
}
@layer utilities {
  .font-gmarket {
    font-family: var(--font-gmarket) !important;
  }
  .no-ellipsis {
    text-overflow: unset;
  }
  .ellipsis-1-line {
    @apply overflow-hidden text-ellipsis break-words;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .ellipsis-2-line {
    @apply w-full overflow-hidden text-ellipsis break-words;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ellipsis-3-line {
    @apply w-full overflow-hidden text-ellipsis break-words;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .ellipsis-4-line {
    @apply w-full overflow-hidden text-ellipsis break-words;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .card-shadow-white {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
  }
  .card-shadow-black {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .blur-gradient {
    -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 70%,
      transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
  }
  .bubble-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  .bubble-tail::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    top: 99%;
    left: 22%;
  }
  .bubble-tail-right::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    top: 99%;
    left: 72%;
  }
  .bubble-tail-none::after {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    content: "";
    position: absolute;
    top: 99%;
    left: 72%;
  }
}
.trapezoid-icon {
  position: absolute;
  z-index: 20;
  top: 30px;
  left: 50%;
  display: inline-block;
  width: 550px;
  border-bottom: 550px solid rgba(255, 255, 255, 0.4);
  border-left: 280px solid transparent;
  border-right: 280px solid transparent;
  rotate: 0deg;
  translate: -50%;
}
.custom-view-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(116, 126, 135, 1);
}
.custom-view-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(157, 165, 171, 1);
}
.custom-view-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.custom-view-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.custom-view-scrollbar::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background-color: rgba(161, 161, 161, 1);
}
.custom-view-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.custom-view-scrollbar::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 4px;
}
.custom-view-scrollbar::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 0px;
}
.custom-view-scrollbar::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 4px;
}
@layer utilities {
  .image-viewer-transition {
    transition:
      rotate 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
      scale 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
}

@layer utilities {
  .non-clip {
    clip-path: none;
  }
}

@theme {
  --animate-driftup: drift 8s linear infinite;
  --animate-driftdown: drift 4s linear infinite;
  @keyframes drift {
    100% {
      transform: rotate(-360deg);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: "pretendard";
}

body * {
  font-family: inherit;
}
#zeit-ui-clipboard {
  position: fixed;
  display: none;
}

@keyframes scaleUp {
  0% {
    width: 0px;
    height: 0px;
    scale: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    scale: 10;
  }
}
@keyframes scaleDown {
  0% {
    width: 100px;
    height: 100px;
    scale: 10;
  }
  100% {
    width: 0px;
    height: 0px;
    scale: 1;
  }
}

@keyframes posUp {
  0% {
    top: 0px;
    scale: 1;
  }
  100% {
    top: -10px;
    scale: 1.02;
  }
}

@keyframes twinkle {
  0% {
    border-bottom-color: rgba(255, 255, 255, 0.4);
  }
  10% {
    border-bottom-color: rgba(255, 255, 255, 0);
  }
  20% {
    border-bottom-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    border-bottom-color: rgba(255, 255, 255, 0.4);
  }
}
